# General Python/Project Ignores
__pycache__/
*.pyc

# Sensitive Data/Configs
.env
.venv/
Global/

# Ignore specific folder
Configurations/

#Ignore file types

*.json
*.jpeg
*.avi
*.txt
*.html

!requirements.txt
!README.txt
